/* Estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
   background-color: #000;
   color: #fff;
   height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* Estilo cabeçalho */
header{
    padding: 2.5rem 4%;
}

header > .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #692ed6;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 1.2rem;

}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* Estilo topo */
section.topo-site{
    padding: 2.5rem 4%;
}

section.topo-site .flex{
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.topo-site h1{
    font-size: 42px;
    color: #fff;
    line-height: 40px;
}

.topo-site .txt-topo-site h1 span{
    color: #692ed6;
}

.topo-site .txt-topo-site p{
    font-size: 16px;
    margin: 2rem 0;
}

.topo-site .txt-topo-site .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #692ed6;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.topo-site .txt-topo-site .btn-contato button:hover{
    transform: scale(1.05);
}

.topo-site .img-topo-site img{
    border-radius: 50%;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* Estilo Experiencias */
section.experiencias{
    padding: 2.5rem 4%;
}

.logo-flokisys{
    width: 150px;
    background-color: #fff;
    padding: 10px;
    border-radius: 0.7rem;
}