/* Estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
   background-color: #000;
   height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

h2.titulo{
    font-size: 32px;
    color: #fff;
    text-align: center;
}

h2.titulo span{
    color: #692ed6;
}

h3.titulo span{
    color: #692ed6;
}

/* Estilo cabeçalho */
header{
    padding: 2.5rem 4%;
}

header > .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #692ed6;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 1.2rem;

}

.style-logo{
    padding: 5px 0;
    border-radius: 45%;
}

/* Estilo topo */
section.topo-site{
    padding: 2.5rem 4%;
}

section.topo-site .flex{
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.topo-site h1{
    font-size: 42px;
    color: #fff;
    line-height: 40px;
}

.topo-site .txt-topo-site h1 span{
    color: #692ed6;
}

.topo-site .txt-topo-site p{
    font-size: 16px;
    margin: 2rem 0;
    color: #fff;
}

/* .topo-site .txt-topo-site .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #692ed6;
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.topo-site .txt-topo-site .btn-contato button:hover{
    transform: scale(1.05);
} */

.topo-site .img-topo-site img{
    width: 19rem;
    height: 19rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    border: 2px solid #692ed6;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* Estilo sobre */
section.sobre{
    padding: 2.5rem 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 32px;
}

.sobre .txt-sobre h3{
    font-size: 20px;
    color: #692ed6;
}

.sobre .txt-sobre p{
    font-size: 16px;
    margin: 1rem 0;
}

.btn-social button{
    color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0;
    background-color: #692ed6;
    font-size: 22px;
    margin: 0 5px;
    cursor: pointer;
    transition: .2s;
}

.sobre .txt-sobre .btn-social button:hover{
    transform: scale(1.05);
}

/* Estilo Experiencias */
section.experiencias{
    padding: 2.5rem 4%;
}

section.experiencias .flex{
    gap: 3rem;
}

.experiencias .box-XP{
    background-color: #fff;
    color: #000;
    padding: 2.5rem;
    margin-top: 2.5rem;
    border-radius: 1rem;
    transition: .2s;
    
}

.experiencias .box-XP:hover{
    transform: scale(1.05);
}

.experiencias .box-XP h3{
    font-size: 20px;
    margin: 1rem 0;
}

/* Estilo Tecnicas */



/* Estilo Projetos */
section.projetos{
    padding: 5rem 4%;
}

section.projetos .flex{
    justify-content: space-around;
    margin-top: 3rem;
}

.img-port{
    width: 22.5rem;
    height: 28.7rem;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    border-radius: 2rem;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* Estilo formulario */
/* section.contato{
    padding: 5rem 4%;
}

form{
    max-width: 31.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 35px;
}

form input, form textarea{
    width: 100%;
    background-color: #fff;
    border: 0;
    outline: 0;
    padding: 20px  15px;
    border-radius: 0.9rem;
    font-size: 16px;
}

form textarea{
    resize: none;
    min-height: 160px;
}

form .btn-enviar{
    margin-top: 22px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #692ed6;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

form .btn-enviar input:hover{
    transform: scale(1.05);
} */

/* Estilo Rodape */

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #692ed634;
}

.logo-footer{
    padding: 5px 0;
    border-radius: 45%;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0 ;
}

.borda{
    border-top: 2px solid #692ed6 ;
}

footer .line-footer p i{
    color: #692ed6;
    font-size: 18px;
}

footer .line-footer p a{
    color: #fff;
    text-decoration: none;
    justify-content: space-between;
}

footer .line-footer .copy{
    color: #fff;
    text-align: center;
    font-weight: 100;
}

/* footer .line-footer .copy span{
    color: #692ed6;
    font-weight: 300;
} */

@media screen and (max-width: 1020px){
    /* Estilo Gerais */
    .flex{
        flex-direction: column;
    }

    .topo-site .flex{
        flex-direction: column-reverse;
    }

    /* Estilo cabecalho */
    .menu-desktop{
        display: none;
    }

    /* Estilo topo-site */
    section.top-site{
        padding: 20px 8%;
    }

    section.topo-site .flex{
        gap: 40px;
    }
    
    .topo-site h1{
        font-size: 31px;
        line-height: 40px;
    }

    /* Estilo Sobre */

    /* Estilo Experiencias */

    /* Estilo Tecnicas */

    /* Estilo Projetos */

    /* Estilo formulario */

    /* Estilo Rodape */

}